<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyApplication1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentLogin</display-name>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>StudentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/StudentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLogin</display-name>
    <servlet-name>FacultyLogin</servlet-name>
    <servlet-class>FacultyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogin</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditProfile</display-name>
    <servlet-name>StudentEditProfile</servlet-name>
    <servlet-class>StudentEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditProfile</servlet-name>
    <url-pattern>/StudentEditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdateServlet</display-name>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <servlet-class>StudentUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdateServlet</servlet-name>
    <url-pattern>/StudentUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyUpdateServlet</display-name>
    <servlet-name>FacultyUpdateServlet</servlet-name>
    <servlet-class>FacultyUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyUpdateServlet</servlet-name>
    <url-pattern>/FacultyUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLogout</display-name>
    <servlet-name>StudentLogout</servlet-name>
    <servlet-class>StudentLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogout</servlet-name>
    <url-pattern>/StudentLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLogout</display-name>
    <servlet-name>FacultyLogout</servlet-name>
    <servlet-class>FacultyLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogout</servlet-name>
    <url-pattern>/FacultyLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>student_assignment</display-name>
    <servlet-name>student_assignment</servlet-name>
    <servlet-class>student_assignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_assignment</servlet-name>
    <url-pattern>/student_assignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyAssignment</display-name>
    <servlet-name>FacultyAssignment</servlet-name>
    <servlet-class>FacultyAssignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyAssignment</servlet-name>
    <url-pattern>/FacultyAssignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBlock</display-name>
    <servlet-name>QueryBlock</servlet-name>
    <servlet-class>QueryBlock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBlock</servlet-name>
    <url-pattern>/QueryBlock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPlacement</display-name>
    <servlet-name>AdminPlacement</servlet-name>
    <servlet-class>AdminPlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPlacement</servlet-name>
    <url-pattern>/AdminPlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStudent</display-name>
    <servlet-name>RemoveStudent</servlet-name>
    <servlet-class>RemoveStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStudent</servlet-name>
    <url-pattern>/RemoveStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFaculty</display-name>
    <servlet-name>AddFaculty</servlet-name>
    <servlet-class>AddFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFaculty</servlet-name>
    <url-pattern>/AddFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFaculty</display-name>
    <servlet-name>RemoveFaculty</servlet-name>
    <servlet-class>RemoveFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFaculty</servlet-name>
    <url-pattern>/RemoveFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentAttendance</display-name>
    <servlet-name>AddStudentAttendance</servlet-name>
    <servlet-class>AddStudentAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentAttendance</servlet-name>
    <url-pattern>/AddStudentAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFacultyAttendance</display-name>
    <servlet-name>AddFacultyAttendance</servlet-name>
    <servlet-class>AddFacultyAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFacultyAttendance</servlet-name>
    <url-pattern>/AddFacultyAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEdit</display-name>
    <servlet-name>StudentEdit</servlet-name>
    <servlet-class>StudentEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEdit</servlet-name>
    <url-pattern>/StudentEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentUpdate</display-name>
    <servlet-name>StudentUpdate</servlet-name>
    <servlet-class>StudentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentUpdate</servlet-name>
    <url-pattern>/StudentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyUpdate</display-name>
    <servlet-name>FacultyUpdate</servlet-name>
    <servlet-class>FacultyUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyUpdate</servlet-name>
    <url-pattern>/FacultyUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
</web-app>